.favourite-product-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (min-width: 768px) {
  .favourite-product-card {
    flex-direction: row;
  }
}
.favourite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favourite-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.favourite-heading {
  padding: 10px;
  border-bottom: 1px solid black;
}
.favourite-item-image {
  width: 200px;
  height: 200px;
}
.favourite-item-image img {
  width: 100%;
  height: 100%;
}
.favourite-product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
}
.favourite-product-details-header {
  border-bottom: 1px solid white;
}
.favourite-product-details-header h3 {
  width: 250px;
  margin: 0;
}
.empty-wishlist {
  height: calc(80vh - 13rem);
}
