.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cart-product-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (min-width: 768px) {
  .cart-product-card {
    flex-direction: row;
  }
}
.cart-item-image {
  width: 200px;
  height: 200px;
}
.cart-item-image img {
  width: 100%;
  height: 100%;
}
.cart-product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
}
.cart-product-details-header {
  border-bottom: 1px solid white;
}
.cart-product-details-header h3 {
  width: 250px;
  margin: 0;
}

.cart-products-bill {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .cart-products-bill {
    flex-direction: row;
  }
}
.cart-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.cart-bill {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  height: fit-content;
  position: sticky;
  top: 20%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.coupon {
  display: flex;
  padding: 10px;
  gap: 30px;
}
.coupon-button {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.cart-coupon-display {
  display: flex;
  background: rgba(52, 46, 46, 0.7490196078431373);
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 8888;
}
.cart-coupon-none {
  display: none;
}
.coupon-card {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}
.close-symbol {
  position: absolute;
  right: 4px;
  top: 2px;
}
.coupon-header {
  display: flex;
  padding: 5px;
}
.coupon-header svg {
  margin: auto;
}
.coupon-header h1 {
  margin: auto;
}
.coupon-body {
  padding: 20px;
}
.coupon-body-row {
  border: 1px solid black;
  display: flex;
  padding: 0.5rem 4rem 0.5rem 1rem;
  margin: 5px;
}
.coupon-body-row p {
  margin: auto;
}
.cp-button {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.cp-button button {
  padding: 10px;
  cursor: pointer;
  background-color: #ef233c;
  color: white;
  border: none;
  border-radius: 5px;
}
.coupon-img {
  width: 40px;
  height: 40px;
}

.cart-price-detail-price svg {
  margin: auto 0;
}

.cart-bill h3 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  padding: 10px;
}
.cart-price-details {
  display: flex;
  flex-direction: column;
}
.cart-price-detail-row {
  display: flex;
  padding: 10px;
}
.cart-price-detail-price {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.cart-price-detail-row-total {
  display: flex;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.cart-bill button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
  color: white;
  cursor: pointer;
}
.cart-bill button:active {
  background-color: #333;
}
.cart-qty-btn {
  border: none;
  border-radius: 2px;
}
.quantity {
  padding: 6px;
}
