.App {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-products-bill {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .cart-products-bill {
    flex-direction: row;
  }
}
.cart-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-bill {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  height: fit-content;
  position: sticky;
  top: 20%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.coupon {
  display: flex;
  padding: 10px;
  gap: 30px;
}
.coupon-button {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.cart-bill h3 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  padding: 10px;
}
.cart-price-details {
  display: flex;
  flex-direction: column;
}
.cart-price-detail-row {
  display: flex;
  padding: 10px;
}
.cart-price-detail-price {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.cart-price-detail-row-total {
  display: flex;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.cart-bill button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
  color: white;
}
